body{
   font-family: arial, sans-serif;
   background-color: white;
}

h1 {
    background-color: #004b87; /* Adjust the color to match komplett.no */
    color: #fff; /* Text color */
    padding: 32px;
    text-align: center;
}

body > header {
    
    grid-column-start: 3;
    display: flex;
    justify-content: end;
    
  
    
}
header{
    grid-column-start: 3;
    display: flex;
    justify-content: end;

}
body > .grid {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    border: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: auto;
    padding-left: 0px;
    

}

body > div > a{
    font-size: 50px;
}
.registerbutton{
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 6;
    font-size: 5;
}

body > h1{
    display: grid;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
    float: left;
    
    }

body > header{
    grid-row-start: 1;
}

p {
    font-weight: bold;
    margin-top: 20px;
}

ul {
 
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a{
    background-color: #004b87; /* Adjust the color to match komplett.no */
    color: #ff00ee; /* Text color */
    padding: 3px;
    float: left;  
}

img{
width: 100px;
float: right;

}
.registration-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}
.input-container {
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}
label {
    display: block;
    font-weight: bold;
}
